.Home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.Header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.Footer {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideandDisplay{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.social-icons {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
} 
.social-icon:hover {
    color: #000;
    transition: color 0.3s ease;
}
.custom-menu{
    background-color: white;
}
.PageContent{ 
    padding-left: 12px;
}