.ant-btn-danger {
  background-color: red !important;
  color: white !important;
  border-color: red !important;
}

.ant-btn-primary {
  background-color: green !important;
  border-color: green !important;
}

.ant-pagination-item-active {
  border-color: #c45628 !important;
}

li.ant-pagination-item-active a {
  color: #c45628 !important;
}
